<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <input maxlength="4" type="text" id="a1" />
    <input maxlength="4" type="text" id="a2" />
    <input maxlength="4" type="text" id="a3" />
    <input maxlength="4" type="text" id="a4" />
    <input maxlength="4" type="text" id="a5" />
  </body>
  <script>
    var ctrlArr = [
      document.getElementById("a1"),
      document.getElementById("a2"),
      document.getElementById("a3"),
      document.getElementById("a4"),
      document.getElementById("a5")
    ];

    for (let index = 0; index < ctrlArr.length; index++) {
      const element = ctrlArr[index];
      element.oninput = function(evt) {
        if (evt.target.value.length === 4)
          if (ctrlArr[index + 1]) {
            ctrlArr[index + 1].focus();
          }
      };
    }
  </script>
</html>
